---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SITE_TITLE } from "../../consts";

---

<BaseLayout title={`About - ${SITE_TITLE}`} description="About abnoumaru">

  <h2>about</h2>
  <h3>Career</h3>
  <a href="https://www.wantedly.com/id/abnoumaru">https://www.wantedly.com/id/abnoumaru</a>

  <h3>Contact</h3>
  <p>me [at] abnoumaru [dot] com</p>
</BaseLayout>
