---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title="blog - abnoumaru.com" description={SITE_DESCRIPTION}>
  <h1>blog</h1>
  
  <ul class="simple-post-list">
    {
      posts.map((post) => (
        <li>
          <span class="post-date">
            <FormattedDate date={post.data.pubDate} />
          </span>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  .simple-post-list {
    list-style: none;
    padding: 0;
    margin: 2rem 0 0 0;
  }
  
  .simple-post-list li {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    margin-bottom: 1.75rem;
    padding: 0;
    border: none !important; /* Explicitly and forcefully remove any border */
  }
  
  .post-date {
    color: #888;
    font-size: 0.9rem;
  }

  .simple-post-list a {
    font-size: 1.2rem;
    text-decoration: underline;
    color: #222;
    padding-top: 0.25rem;
    transition: color 0.2s ease;
  }

  .simple-post-list a:hover {
    text-decoration: underline;
    color: #555;
  }
</style>