/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #7f00ff;
    --accent-cyan: #00ffef;
    --background-dark-purple: #120022;
    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 40, 40, 60;
    --gray-dark: 170, 170, 235;
    --gray-gradient: linear-gradient(180deg, rgba(18, 0, 34, 0.85), #120022), linear-gradient(rgba(var(--gray-light), 50%), #120022);
    --box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
        0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
	font-family: 'MonaspaceNeon';
	src: url('/fonts/MonaspaceNeon-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'MonaspaceNeon';
	src: url('/fonts/MonaspaceNeon-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
    font-family: 'MonaspaceNeon', sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    background: var(--background-dark-purple) no-repeat;
    background-size: 100% 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: rgb(var(--gray-dark));
    font-size: 20px;
    line-height: 1.7;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h2,
h3,
h4,
h5 {
	text-decoration: underline dotted;
	text-decoration-style: dashed;
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
}
h2 {
	font-size: 1.2205em;
	color: #777;
}
h3 {
	font-size: 0.9765em;
	color: #555;
}
h4 {
	font-size: 0.7815em;
	color: #333;
}
h5 {
	font-size: 0.625em;
	color: #111;
}
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--gray-dark));
	line-height: 1.2;
}
strong,
b {
	font-weight: 700;
	color: #FC0FFB;
}
a {
	color: var(--accent);
	transition: color 0.3s ease;
}
a:hover {
	background: linear-gradient(45deg, #a8efe3, #efa8d8, #caa8ef, #efeea8, #efc8a8, #bcefa8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
    padding: 2px 5px;
    background-color: rgb(var(--gray-light));
    color: var(--accent-cyan);
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
    border-left: 4px solid var(--accent);
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
    color: var(--accent-cyan);
}
hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}
.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
.dotted-underline {
    text-decoration: underline;
    text-decoration-style: dotted;
}