header {
    margin: 0;
    padding: 0 1em;
    background: #404040;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
header h2 {
    margin: 0;
    font-size: 1em;
    color: #a0a0a0;
}
h2 a,
h2 a.active {
    background: linear-gradient(
        45deg,
        #ff0000, #ff4000, #ff7300, #ffbf00, #fffb00,
        #bfff00, #80ff00, #48ff00, #00ff40, #00ffd5,
        #00bfff, #0080ff, #0048ff, #0000ff, #7a00ff,
        #bf00ff, #ff00bf, #ff007f, #ff0040, #ff0000
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    text-decoration: none;
    background-size: 400% 400%;
    animation: rainbow-text-animation 2s linear infinite;
}
@keyframes rainbow-text-animation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a {
    padding: 1em 0.5em;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 4px solid transparent;
    text-decoration: none;
}
nav a:hover {
    color: rgba(255, 255, 255, 1);
    border-bottom-color: var(--accent);
}
nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
}
.internal-links a[href="/"]:hover, .internal-links a[href="/"].active {
    color: #ffa3a3;
}
.internal-links a[href="/blog"]:hover, .internal-links a[href="/blog"].active {
    color: #ffcb93;
}
.internal-links a[href="/tags"]:hover, .internal-links a[href="/tags"].active {
    color: #a8ff93;
}
.internal-links a[href="/pubs"]:hover, .internal-links a[href="/pubs"].active {
    color: #93caff;
}
.internal-links a[href="/site"]:hover, .internal-links a[href="/site"].active {
    color: #93fff5;
}
.internal-links a[href="/about"]:hover, .internal-links a[href="/about"].active {
    color: #d993ff;
}

.menu-toggle {
    display: none; /* 初期状態では☰を非表示にする */
}

@media (max-width: 768px) {
    .internal-links {
        display: none;
        flex-direction: column;
        gap: 0;
        /* ボタンを連続して表示 */
        width: 100%;
        /* 幅を全画面に */
        position: absolute;
        top: 60px;
        /* ヘッダーの下に表示 */
        left: 0;
        background-color: rgba(68, 68, 68, 0.8);
        backdrop-filter: blur(5px);
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: #fff;
    }

    .internal-links.open {
        display: flex;
    }

    .internal-links a {
        display: block;
        padding: 15px;
        text-align: center;
        background-color: transparent;
        color: #fff;
        border-bottom: 1px solid #666;
        width: 100%;
    }

    .internal-links a:hover {
        background-color: #666;
    }
}
