ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(var(--gray-dark));
}
ul li {
    width: calc(100%);
    display: flex;
    align-items:flex-end;
    background-color: #222;
    border-radius: 12px;
    padding: 1rem;
}
ul li * {
    text-decoration: none;
    transition: 0.2s ease;
}
ul li a {
    display: block;
    color: inherit;
}
.title {
    margin: 0;
    color: rgb(var(--gray-dark));
}
.date {
    margin: 0;
    color: #aaa;
}
ul li a:hover h4,
ul li a:hover .date {
    color: var(--accent-orange);
}
@media (max-width: 720px) {
    ul {
        gap: 0.5em;
    }
    ul li {
        width: 100%;
        display: block;
        box-shadow: 0 4px 8px rgba(138, 43, 226, 0.2);
        border-radius: 10px;
        padding: 10px;
    }
}