---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="アバウトミー"
	description="自己紹介です。"
	pubDate={new Date('February 04 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		長野県で生まれて高校までは野球をしていました。中学ではサード、高校ではセカンドを守っていました。最後の夏は三塁コーチャーでした。
		<font color="red">送球F</font> <font color="blue">プルヒッター</font> <font color="blue">バント◯</font> <font color="red">エラー</font> みたいな能力でした。
		現在は年間に5試合くらいですが球場に足を運んで野球観戦をします。得点が入ると傘をふるチームを応援しています。
	</p>

	<p>
		1年の浪人を経て、大学への進学を機に東京に出てきました。授業の成績はあまりよくありませんでした。
		大学1年生の10月からアルバイトでサーバ監視・管理をする会社で働き始めました。
		この会社でITエンジニアとしてのキャリアをスタートしました。
		また軽音系のサークルでギターを弾いたり、ボーカルをしたり、映像を編集したりしていました。
	</p>

	<p>
		大学卒業後は、アルバイトをしていた会社で引き続きITエンジニアとして働きました。
		3年ほど働いてからは、転職して現在も所属している会社に入社しました。
		最初の頃はエンジニアとして働いていましたが、現在はエンジニアグループのリーダーとして働いています。
		技術的に手を動かす部分は現場に任せて、現場とマネージャーのサポートをしたり、PMやセールスを技術的にフォローする仕事が多いです。
		エンタープライズ企業に向けた提案やコンサルティングを中心に、周りに助けられながらプロジェクトを進めるために必要なこと全般を行なっています。
	</p>

	<p>
		最近では趣味といった趣味はなく、休みの日も何かしらのキャッチアップをしてることが多いです。
		お笑いが好きなこともあり、好きな芸人さんのラジオだけは聴き続けています。
		ラーメン屋や居酒屋を開拓することも好きですが、お酒は控えめにすることが最近の目標です。
	</p>

</Layout>
