---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="アバウトミー"
	description="自己紹介です。"
	pubDate={new Date('February 04 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		長野県で生まれて高校までは野球をしていました。
		中学ではサード、高校ではセカンドを守っていました。最後の夏は三塁コーチャーでした。
		<font color="red">送球F</font> <font color="blue">プルヒッター</font> <font color="blue">バント◯</font> <font color="red">エラー</font> みたいな能力でした。
		現在は年間に5試合程度、球場に足を運んで観戦します。得点が入ると傘をふるチームを応援しています。
	</p>

	<p>
		1年の浪人を経て、大学への進学を機に東京に出てきました。
		大学1年生の10月にアルバイトでサーバの構築から運用まで24時間365日有人監視する会社で働き始めました。
		この会社でインフラエンジニアとしてのキャリアをスタートしました。
		また軽音系のサークルでギターを弾いたり、ボーカルをしたり、映像を編集したりしていました。
		大学卒業後も、アルバイトをしていた会社で引き続きインフラエンジニアとして働きました。
	</p>

	<p>
		社会人になり4年ほど経った頃、現在も働いている会社に入社しました。
		SREの考え方を利用した技術支援を行っています。
		担当業務は金融系のお客様中心で、自社ではグループリーダーも担当しています。
	</p>

	<p>
		最近では趣味といった趣味はなく、休みの日も何かしらのキャッチアップをしてることが多いです。
		お笑いが好きなこともあり、好きな芸人さんのラジオだけは聴き続けています。
		ラーメン屋や居酒屋を開拓することも好きですが、お酒は控えめにすることが最近の目標です。
	</p>

</Layout>
