---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/home.css";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="home-content">
    <p>Welcome to abnoumaru's website!</p>
    <img src="/abnoumaru.webp" alt="abnoumaru icon" class="icon-image" width="350" height="350" loading="eager" />
    <p>I'm an Reliability engineer based in 🇯🇵</p>
  </div>
</BaseLayout>
