---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="ja">
    <head>
        <BaseHead title="site - abnoumaru.com" description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <p>🌐 このウェブサイトについて</p>
            <h2>はじめに</h2>
            <p>
                当サイトでは、ITに限らず考えたことや興味のある事柄、あとから自分が見返すために記録しておきたいことを書いていきます。
            </p>
            <p>
                また、当サイトは、<a
                    href="https://astro.build/"
                    target="_blank"
                    rel="noopener">Astro</a
                >という静的サイトジェネレーターを使用して作成されています。
            </p>
            <p>
                コードは <a
                    href="https://github.com/abnoumaru/abnoumaru.com"
                    target="_blank"
                    rel="noopener">abnoumaru/abnoumaru.com</a
                > に公開されています。
            </p>
            <h2>フィードについて</h2>
            <p>RSSフィードは<a href="https://abnoumaru.com/rss.xml">こちら</a>。</p>
            <h2>Google Analyticsの使用について</h2>
            <p>
                当ウェブサイトは、利用者様により良いサービスを提供するため、また、当ウェブサイトの利用状況の分析のためにGoogle
                Analyticsを使用しています。 Google
                Analyticsは、クッキーを通じて、利用者様が当ウェブサイトをどのように使用しているかに関する情報を収集します。
                収集されたデータは、当ウェブサイトの使用状況を分析し、ウェブサイトの改善に役立てるためにのみ使用されます。
                これらの情報は匿名であり、個人を特定するものではありません。
                ブラウザの設定を変更することにより、クッキーの使用を拒否することができますが、その場合、当ウェブサイトの一部の機能が正常に動作しない可能性があります。
                詳しくは、<a
                    href="https://marketingplatform.google.com/about/analytics/terms/jp/"
                    target="_blank"
                    rel="noopener">Google アナリティクス利用規約</a
                >をご覧ください。
            </p>
            <h2>免責事項</h2>
            <h3>コンテンツの正確性と完全性</h3>
            <p>
                情報を最新かつ正確に保つよう努めていますが、情報の完全性、信頼性、または正確性を保証できません。
                当サイトの情報を基に行った行動の結果、責任は負えません。
            </p>
            <h3>外部リンク</h3>
            <p>
                当サイトには外部のウェブサイトへのリンクが含まれていますが、それらのサイトの内容やアクセスに関しては管理しておりません。
                これらのリンクは参考のために提供しており、それらのサイトの内容を推奨するものではありませんのでご了承ください。
            </p>
            <h3>著作権</h3>
            <p>
                本サイト上のコンテンツ（テキスト、画像、動画など）は、当サイトの作成者または正当な権利所有者によって保護されています。
                これらの素材を無断で複製、配布、または商業目的で使用することはご遠慮ください。
            </p>
            <h3>利用者の責任</h3>
            <p>
                当サイトをご利用になる際は、自己の責任と判断でお願いします。
                必要があれば、専門家の意見を参考にされることを推奨します。
            </p>
            <h3>損害賠償の免責</h3>
            <p>
                本サイトの利用またはアクセス不可から生じたいかなる不利益や損害に関しても、責任を負いかねます。
            </p>
            <h3>変更と更新</h3>
            <p>
                本サイトのポリシーや免責事項は時折更新される可能性があります。
                このページを定期的にご確認いただき、最新情報をご参照ください。
            </p>
            <h2>コメントについて</h2>
            <h3>コメントの責任</h3>
            <p>
                投稿されたコメントは、それぞれの投稿者の個人的な見解を表しており、当サイトの意見を代表するものではありません。
                コメントに対する責任は投稿者ご自身にあります。
            </p>
            <h3>コメントの監視と削除</h3>
            <p>
                不適切なコメントやスパムを防ぐため、コメントの監視を行っていますが、全てを事前にチェックすることはできません。
                不適切と判断されたコメントは予告なく削除することがあります。
            </p>
            <h3>コメントの利用</h3>
            <p>
                本サイトでコメントを投稿する際は、そのコメントを任意の目的で使用、複製、公開するための非排他的な権利を当サイトに付与したものとみなされます。
            </p>
            <h3>個人情報の保護</h3>
            <p>
                コメント投稿時に提供される個人情報は、プライバシーポリシーに従い慎重に取り扱われます。
                公開される情報を選ぶ際にはご注意ください。
            </p>
        </main>
        <Footer />
    </body>
</html>
