---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---
<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <h4>このウェブサイトについて</h4>
            <p>
                当サイトでは、ITに限らず考えたことや興味のある事柄、あとから自分が見返すために記録しておきたいことを書いていきます。
            </p>
            <p>
                また、当サイトは、<a href="https://astro.build/" target="_blank" rel="noopener">Astro</a>という静的サイトジェネレーターを使用して作成されています。
            </p>
            <h4>免責事項</h4>
            <h5>コンテンツの正確性と完全性</h5>
            <p>
                情報を最新かつ正確に保つために最善を尽くしますが、提供される情報の完全性、信頼性、または正確性について保証するものではありません。
                当サイトの情報を基に行った行動の結果について、当サイトは責任を負いません。
            </p>
            <h5>外部リンク</h5>
            <p>
                当サイトには、外部のウェブサイトへのリンクが含まれています。
                これらの外部サイトの内容やアクセシビリティについては、私たちの管理下にはありません。
                リンクは、参照のために提供されているものであり、それらのサイトの推奨を意味するものではありません。
            </p>
            <h5>著作権</h5>
            <p>
                当サイト上のコンテンツ（テキスト、画像、動画など）は、私たちまたは適切な権利者に帰属する著作権によって保護されています。
                これらの素材を私たちの許可なく複製、配布、または商業的に利用することは禁じられています。
            </p>
            <h5>利用者の責任</h5>
            <p>
                当サイトの情報を利用する際には、自身の判断と責任で行ってください。
                必要に応じて、専門家のアドバイスを求めることをお勧めします。
            </p>
            <h5>損害賠償の免責</h5>
            <p>
                当サイトの使用または使用不能から生じるいかなる損害についても、私たちは責任を負いません。
            </p>
            <h5>変更と更新</h5>
            <p>
                当サイトのポリシーや免責事項は、予告なしに変更されることがあります。
                定期的にこのページを確認し、最新の情報を得ることをお勧めします。
            </p>
            <h4>コメント機能に関する免責事項</h4>
            <h5>コメントの責任</h5>
            <p>
                当サイトに投稿されたコメントは、個々のコメント投稿者の意見を反映しており、必ずしも当サイトの立場や意見を表すものではありません。
                コメントに対する責任は、コメントを投稿した個人にあります。
            </p>
            <h5>コメントの監視と削除</h5>
            <p>
                当サイトは、不適切なコメントやスパムを防ぐためにコメントを監視しますが、すべてのコメントを事前にチェックすることはできません。
                違法、誤解を招く、名誉毀損的、侮辱的、攻撃的、あるいは不快と見なされるコメントに遭遇した場合は、それらを削除する権利を有します。
            </p>
            <h5>コメントの利用</h5>
            <p>
                当サイトを利用してコメントを投稿することにより、当サイトに対し、投稿されたコメントを任意の目的で使用、複製、および公開する非排他的な権利を付与することに同意したものとみなします。
            </p>
            <h5>個人情報の保護</h5>
            <p>
                コメントを投稿する際に提供される個人情報は、プライバシーポリシーに従って取り扱われます。公開される情報を慎重に選び、個人情報の保護に努めてください。
            </p>
		</main>
		<Footer />
	</body>
</html>
