---
import { GITHUB_HANDLE } from "../consts";

const today = new Date();
---

<footer>
  <div class="social-links">
    <a href={`https://github.com/${GITHUB_HANDLE}`} target="_blank" rel="noopener noreferrer">
      <span class="sr-only">Go to abnoumaru's GitHub repo</span>
      <svg
        viewBox="0 0 16 16"
        aria-hidden="true"
        width="24"
        height="24"
        class="icon"
      >
        <path
          fill="currentColor"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
        ></path>
      </svg>
    </a>
    <a href="https://speakerdeck.com/abnoumaru" target="_blank">
      <span class="sr-only">Go to abnoumaru's Speaker Deck profile</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="27"
        viewBox="0 1 24 24"
      >
        <path
          fill="currentColor"
          d="M10.025 13.875H4.687a4.688 4.688 0 0 1 0-9.375h6.227a1.875 1.875 0 0 1 0 3.75H4.592a.937.937 0 1 0 0 1.875h5.337a4.687 4.687 0 1 1 0 9.375H1.875a1.875 1.875 0 0 1 0-3.75h8.15a.938.938 0 0 0 0-1.875M13.97 19.5a5.64 5.64 0 0 0 2.396-3.75h3.026a.93.93 0 0 0 .921-.938V9.189a.93.93 0 0 0-.921-.938h-5.497c.438-.498.704-1.155.704-1.875s-.266-1.377-.704-1.875h6.418C22.35 4.5 24 6.179 24 8.25v7.5c0 2.071-1.65 3.75-3.687 3.75z"
        ></path>
      </svg>
    </a>
    <a href="https://annict.com/@abnoumaru/watched" target="_blank">
      <span class="sr-only">Go to abnoumaru's Annict watched</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        viewBox="0 5 24 24"
        ><g fill="currentColor">
          <path
            fill-rule="evenodd"
            d="m8 6.119l1.413-1.413l2.124 2.124L14.367 4l1.411 1.412l-2.464 2.464H18a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3.757zm10 3.757H6v7h12z"
            clip-rule="evenodd"></path><path d="M8 19.876h8v1H8z"></path></g
        >
      </svg>
    </a>
    <a href="https://misskey.abnoumaru.com/@abnoumaru" target="_blank">
      <span class="sr-only">Go to abnoumaru's Personal Misskey</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="27"
        height="27"
        viewBox="0 1 24 24"
      >
        <path
          fill="currentColor"
          d="M8.91 16.892c-1.039.003-1.931-.63-2.352-1.366c-.225-.322-.67-.437-.676 0v2.014q0 1.215-.876 2.1q-.85.86-2.078.86q-1.2 0-2.077-.86A2.93 2.93 0 0 1 0 17.54V6.46q0-.936.526-1.695a2.86 2.86 0 0 1 1.402-1.088a2.9 2.9 0 0 1 1-.177q1.353 0 2.253 1.063l2.997 3.515c.067.05.263.437.732.437c.47 0 .692-.386.758-.437l2.972-3.515Q13.567 3.5 14.918 3.5q.501 0 1.001.177a2.73 2.73 0 0 1 1.377 1.088q.55.758.55 1.695v11.08q0 1.215-.875 2.1q-.852.86-2.078.86q-1.201 0-2.078-.86a2.93 2.93 0 0 1-.85-2.1v-2.014c-.05-.55-.531-.204-.702 0c-.45.843-1.313 1.361-2.352 1.366M21.448 8.61q-1.05 0-1.802-.733q-.726-.759-.726-1.822c0-1.063.242-1.307.726-1.796a2.44 2.44 0 0 1 1.802-.758q1.05 0 1.803.758q.75.735.75 1.796q0 1.063-.75 1.822q-.751.732-1.803.733m.025.507q1.05 0 1.777.758q.75.759.751 1.822v6.248q0 1.064-.75 1.821a2.4 2.4 0 0 1-1.778.734q-1.05 0-1.802-.733a2.5 2.5 0 0 1-.75-1.822v-6.248a2.5 2.5 0 0 1 .75-1.822a2.44 2.44 0 0 1 1.802-.758"
        ></path>
      </svg>
    </a>
    <a href="https://keybase.io/abnoumaru" target="_blank">
      <span class="sr-only">Go to abnoumaru's keybase profile</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="29"
        height="29"
        viewBox="0 3 32 32"
      >
        <path
          fill="currentColor"
          d="M14.717 4c-.54.75-.934 1.29-1.313 1.848a1.7 1.7 0 0 0-1.216-.612c-1.522-.096-1.437-.09-1.506-.09a1.75 1.75 0 0 0-1.735 1.64l-.084 1.403v.006a1.75 1.75 0 0 0 1.633 1.844l1.063.065c-.091.9.053 1.741.416 2.464a11.2 11.2 0 0 0-3.688 2.502c-3.349 3.348-3.281 7.519-3.281 11.532l1.27-1.35A10.6 10.6 0 0 0 7.461 28h1.535a9.3 9.3 0 0 1-1.666-3.873l2.13-2.268l-1.009 3.178c2.247-1.639 5.7-4.704 12.52-2.695c1.803.525 3.723.038 4.582-1.543c.432 2.116.058 5.121-1.196 7.195h1.457c.78-1.559 1.186-3.433 1.186-5.517c0-2.637-1.126-5.306-3.078-7.32c-1.66-1.71-3.383-2.45-4.397-2.776a4.087 4.087 0 0 0-2.46-5.482c-.988-.333-1.521-.305-1.73-.305c-.005-.005-.245-.392.481-1.946L14.716 4zm-4.03 2.428c.023 0-.095-.01 1.426.086c.533.037.421.633.416.74a8.7 8.7 0 0 0-.699 1.574l-1.254-.074a.465.465 0 0 1-.431-.488l.084-1.405a.46.46 0 0 1 .459-.433zm3.46.615c.203.517.71.847 1.263.82c.395-.016 2.163.14 2.899 1.7c.389.835.463 2.254-.647 3.261l-.447-.55c-1.296-1.308-2.819-.2-2.819.937a2.8 2.8 0 0 1-1.189-1.072c-1.046-1.747.208-3.959.94-5.096m-3.192.144l-.053.836l.832.055l.053-.836zm5.053 5.782a.29.29 0 0 1 .219.119l2.95 3.648c.257.316-.219.713-.48.391l-.293-.363l-1.047.855a.24.24 0 0 1-.336-.031l-.474-.584a.24.24 0 0 1 .031-.336l1.053-.863l-.428-.528l-.517.43c-.256.209-.642-.3-.397-.504l.514-.424l-1.057-1.3c-.196-.237.03-.52.262-.51m2.803.515q.624.195 1.22.461c1.643.734 3.014 1.967 3.916 3.237c.816 1.157.956 2.341.366 3.175c-.582.831-1.73 1.115-2.989.745c-3.917-1.157-7.447-.895-10.531.771l1.594-5.014c-6.291 6.698-5.644 6.013-6.082 6.479c.059-1.57.265-3.216 1.06-4.834c.71-1.436 2.43-3.778 5.406-4.887c.853.815 1.894 1.077 2.278 1.147a1.54 1.54 0 0 0 .246 1.607a1.54 1.54 0 0 0 .266 1.438l.474.584c.288.357.723.563 1.18.562c.646 0 1.03-.406 1.185-.53c.848.31 1.478-.204 1.547-.263a1.6 1.6 0 0 0 .225-2.244l-1.703-2.102q.182-.153.342-.332m.595 10.92a.95.95 0 0 0-.949.955a.95.95 0 1 0 1.9 0a.956.956 0 0 0-.95-.955zm-5.9.006a.95.95 0 0 0-.95.953c0 .527.425.955.95.955s.95-.428.95-.955a.953.953 0 0 0-.95-.953"
        ></path>
      </svg>
    </a>
    <a href="https://x.com/abnoumaru" target="_blank">
      <span class="sr-only">Go to abnoumaru's X profile</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 23 23"
      >
        <path
          fill="currentColor"
          d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231zm-1.161 17.52h1.833L7.045 4.126H5.078z"
        ></path>
      </svg>
    </a>
  </div>
  <div class="copyright">
    &copy; {today.getFullYear()} abnoumaru. All rights reserved.
  </div>
</footer>

<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient));
    color: rgb(var(--gray-dark));
    text-align: center;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray-dark));
  }
  
  .social-links a:hover {
    color: var(--accent-blue);
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  
  .copyright {
    margin-top: 2em;
    font-size: 0.8em;
  }
  
  .dark footer {
    color: rgb(var(--gray-light));
  }
  
  .dark .social-links a {
    color: rgb(var(--gray-light));
  }
</style>
