---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import "../styles/header.css";
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">home</HeaderLink>
			<HeaderLink href="/blog">blog</HeaderLink>
			<HeaderLink href="/tech">tech</HeaderLink>
			<HeaderLink href="/tags">tags</HeaderLink>
			<HeaderLink href="/site">site</HeaderLink>
			<HeaderLink href="/about">about</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://github.com/abnoumaru" target="_blank"> GH </a>
			<a href="https://x.com/abnoumaru" target="_blank"> X </a>
			<a href="https://keybase.io/abnoumaru" target="_blank"> K </a>
			<a href="https://speakerdeck.com/abnoumaru" target="_blank"> SD </a>
		</div>
	</nav>
</header>
