---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import "../styles/header.css";
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links" id="menu">
      <HeaderLink href="/">home</HeaderLink>
      <HeaderLink href="/blog">blog</HeaderLink>
      <HeaderLink href="/about">about</HeaderLink>
      <HeaderLink href="/links">links</HeaderLink>
    </div>
    <div class="menu-toggle" id="menu-toggle">☰</div>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuToggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("menu");

    if (menuToggle) {
      menuToggle.addEventListener("click", function () {
        if (menu) {
          menu.classList.toggle("open");
        }
      });
    }
  });
</script>
